@import "{{ site.theme }}"; 

.btn {
  display: none !important;
}

img {
  filter: blur(4px);
}

img:hover {
 /* transform: scaleX(-1);*/
  filter: blur(0px);
}

/*img {
  align: center;
  margin-bottom: 125px;
}*/
